<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15px"
   height="19.5px" viewBox="0 0 15 19.5" style="enable-background:new 0 0 15 19.5;" xml:space="preserve" aria-labelledby="title">
<title>{{ 'layout.cart.title' | t }}</title>
<style type="text/css">
  .st0{fill:#F1CCCB;}
</style>
<g id="COLOR">
</g>
<g id="Layer_15">
  <path class="st0" d="M10.8,3.9V2.4C10.8,1.1,9.7,0,8.3,0H6.8C5.4,0,4.3,1.1,4.3,2.4v1.5H0v8.4V13v6.6h15V13v-0.7V3.9H10.8z
     M10.8,4.3c0.4,0.1,0.6,0.5,0.6,0.9c0,0.4-0.3,0.8-0.6,0.9V4.3z M5.1,2.4c0-0.9,0.7-1.6,1.6-1.6h1.6c0.9,0,1.6,0.7,1.6,1.6v1.5H5.1
    V2.4z M10,4.3v1.8C9.6,6,9.4,5.6,9.4,5.2C9.4,4.8,9.6,4.5,10,4.3z M5.1,4.3c0.4,0.1,0.6,0.5,0.6,0.9c0,0.4-0.3,0.8-0.6,0.9V4.3z
     M4.3,4.3v1.8C4,6,3.7,5.6,3.7,5.2C3.7,4.8,4,4.5,4.3,4.3z"/>
</g>
</svg>