<div class="site-copyright-footer">

  <div class="wrapper">
    <div class="footer-content-wrapper">

      <div class="credit">
        <p>&copy; {{ "now" | date: "%Y" }} {{ shop.name }}&mdash; All rights reserved &mdash; Site by <a href="http://www.aeolidia.com">Aeolidia</a></p>  
      </div>
    
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Copyright Footer",
    "settings": []
  }
{% endschema %}
